@import 'tailwindcss';

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }

  body {
    background: transparent;
    user-select: none;
    font-family: 'Noto Sans HK', 'Noto Sans JP', 'Segoe UI', system-ui, sans-serif;
  }
}
